/*footer */
.footer {
    width: 100%;
    padding: 50px 0px;
  }
  
  .container__footer {
    background-color: #e7e3e3;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    margin: auto;
    margin-top: 100px;
  }
  
  .box__footer {
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin-top: 1px;
  }
  
  .box__footer h2 {
    margin-bottom: 30px;
    color: #343434;
    font-size: 18px;
  }
  
  .box__footer a {
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
  }
  
  .box__footer a:hover {
    opacity: 0.8;
  }
  
  .box__footer a .fab {
    font-size: 20px;
  }
  