/*Seccion productos*/
.container-pro {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin: auto;
    grid-gap: 2px;
    overflow: hidden;
    justify-items: center;

    .img-pro {
      vertical-align: top;
      height: 30vh;
    }
    #producto{margin-top: 100px;}
  }
  
  
  